.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  font-family: 'Inter', 'Verdana', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

:focus {
  outline-color: #2be080;
  box-shadow: 0 5px 30px #2be080;
}

@media screen and (min-width: 1280px) {
  .text-hover:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform-origin: right;
    transform: scale(0);
    transition: transform linear 0.2s;
  }
  .text-hover:hover:before {
    transform-origin: left;
    transform: scale(1);
    transition: transform linear 0.2s;
  }
}
